
@model IEnumerable<RecordFCS.Models.Matricula>

@{
    ViewBag.Title = "ImportarCat_Matricula";
}
<div class="well">
    <h1>@ViewBag.NombreTabla</h1>
    <p>@ViewBag.mensaje</p>
</div>

@if (ViewBag.error == "error")
{
    <h1>YA SE IMPORTO ESTE CATALOGO U OCURRIO UN PROBLEMA</h1>
}
else
{
    <h2>Importar Matriculas </h2>
    <p>Extraidos de la base vieja</p>
    <p>Total: @ViewBag.TotalRegistros</p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClaveSigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaveTexto)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MatriculaPadreID)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.MatriculaSigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaveSigla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaveTexto)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.MatriculaPadreID)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatriculaSigla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

            </tr>
        }

    </table>

}






