@model IEnumerable<RecordFCS.Models.Obra>
@{
    ViewBag.Title = "ImportarObras_M_Pieza";
}
<div class="well">
    <h1>@ViewBag.NombreTabla</h1>
    <p>@ViewBag.mensaje</p>
</div>

@if (ViewBag.error == "error")
{
    <h1>YA SE IMPORTO ESTE CATALOGO</h1>
}
else
{
    <h2>Importar Registro Inicial de OBRAS</h2>
    <p>Extraidos de la base vieja</p>
    <p>Total: @ViewBag.TotalRegistros</p>
    <h3>Tiempo: @ViewBag.TiempoTotal</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoObraID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAdquisicionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UbicacionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntID)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clave)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TipoObraID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TipoAdquisicionID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PropietarioID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UbicacionID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AntID)
                </td>
            </tr>
        }

    </table>

}