@model PagedList.IPagedList<RecordFCS.Models.Exposicion>
@using PagedList.Mvc;
@using RecordFCS.Helpers

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div id="contentPager" class="text-center">
    @Html.PagedListPager(Model, pagina => Url.Action("Lista", new { pagina = pagina }))
</div>

<p class="text-right">Total de Registros <span class="badge">@ViewBag.totalRegistros</span></p>

<table class="table table-hover table-condensed">
    <tr>
        <th>
            Exposición
        </th>
        <th>
            Status
        </th>

        <th>
            @if (User.IsInRole("CatCrear"))
            {
                @Html.NoEncodeActionLink("<span class='fa fa-plus'></span>", "Crear", "Crear", "Exposicion", null, htmlAttributes: new { data_modal = "", @class = "btn btn-success pull-right Exposicion" })
            }
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                <div class="pull-right">
                    @if (User.IsInRole("CatEdit"))
                    {
                        @Html.NoEncodeActionLink("<span class='fa fa-pencil'></span>", "Editar", "Editar", "Exposicion", routeValues: new { id = item.ExposicionID }, htmlAttributes: new { data_modal = "", @class = "btn btn-default btn-xs Exposicion" })
                    }
                    @if (User.IsInRole("CatEliminar"))
                    {
                        @Html.NoEncodeActionLink("<span class='fa fa-trash'></span>", "Eliminar", "Eliminar", "Exposicion", routeValues: new { id = item.ExposicionID }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger btn-xs Exposicion" })
                    }
                </div>
            </td>
        </tr>
    }

</table>


<div id="contentPager" class="text-center">
    @Html.PagedListPager(Model, pagina => Url.Action("Lista", new { pagina = pagina }))
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
</div>

@* ! @Script.Render is not supported in partials - for extensions see: http://stackoverflow.com/a/13765578/209259

    @Scripts.Render("~/bundles/modalform")

*@




<script type="text/javascript">


    $(function () {
        $.ajaxSetup({ cache: false });

        $("a[data-modal].Exposicion").on("click", function (e) {
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindForm_Exposicion(this);
            });
            return false;
        });
    });

    function bindForm_Exposicion(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        $('#replacetarget').load(result.url); //  Campo que actualizara
                        $('#alertasDiv').load('@Url.Action("_Alertas","Base")');

                    } else {
                        $('#myModalContent').html(result);
                        $('#alertasDiv').load('@Url.Action("_Alertas","Base")');
                        bindForm_Exposicion(dialog);
                    }
                }
            });
            return false;
        });
    }


    //Paginador cargar vista parcial en el div
    $(function () {
        $.ajaxSetup({ cache: false });

        $("#contentPager a").on("click", function (e) {
            $.ajax({
                url: $(this).attr("href"),
                type: 'GET',
                success: function (result) {
                    $('#replacetarget').html(result);
                }
            });
            return false;
        });
    });
</script>

