@using RecordFCS.Helpers
@using RecordFCS.Models.ViewsModel
@model List<itemPiezaGenerica>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado - Record</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="container">
        <div class="pull-right">
            <img src="~/@ViewBag.logo" />
        </div>
        <div>
            <table class="table table-condensed table-striped table-responsive">
                <tr class="inverse">
                    <td><small>Obra</small></td>
                    <td><small>Pieza</small></td>

                    @foreach (var campo in Model.FirstOrDefault().itemPiezaGenericaCampos)
                    {
                        if (@campo.NombreCampo != "Imagen")
                        {
                            <td><small>@campo.NombreCampo</small></td>
                        }
                    }
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td><small>@item.ObraClave</small></td>
                        <td><small>@item.PiezaClave</small></td>
                        @foreach (var campo in item.itemPiezaGenericaCampos)
                        {
                            if (@campo.NombreCampo != "Imagen")
                            {
                                <td><small>@campo.ValorCampo</small></td>
                            }

                        }
                    </tr>
                }

            </table>


            <hr />
            <p class="text-center">
                <small>
                    PLAZA CARSO - Blvd. Miguel de Cervantes Saavedra 303, Col. Ampliación Granada C.P. 11529 México D.F. - Tels. 1103 9800 - www.museosoumaya.com
                </small>
            </p>

        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")

</body>











</html>