@model IEnumerable<RecordFCS.Models.Atributo>
@using RecordFCS.Helpers


<p class="text-right">Total de Registros <span class="badge">@ViewBag.totalRegistros</span></p>

<table class="table table-hover table-condensed">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Orden)</th>
        <th>@Html.DisplayNameFor(model => model.TipoAtributo.Nombre)</th>
        @*<th>@Html.DisplayNameFor(model => model.TipoAtributo.DatoHTML)</th>*@
        <th>@Html.DisplayNameFor(model => model.EnFichaBasica)</th>
        <th>@Html.DisplayNameFor(model => model.Requerido)</th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>


        <th>
            @if (User.IsInRole("AtributoCrear"))
            {
                @Html.NoEncodeActionLink("<span class='fa fa-plus'></span>", "Agregar Atributo", "Crear", "Atributo", routeValues: new { id = ViewBag.TipoPiezaID }, htmlAttributes: new { data_toggle = "tooltip", data_modal = "", @class = "btn btn-success pull-right Atributo" })
            }
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Orden)

            </td>
            <td>@Html.DisplayFor(modelItem => item.TipoAtributo.Nombre)</td>
            @*<td>@Html.DisplayFor(modelItem => item.TipoAtributo.DatoHTML)</td>*@
            <th>@Html.DisplayFor(modelItem => item.EnFichaBasica)</th>
            <th>@Html.DisplayFor(modelItem => item.Requerido)</th>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>

            <td>
                <div class="pull-right">

                    @if (User.IsInRole("CatConfig"))
                    {
                        if (item.TipoAtributo.EsLista)
                        {
                            switch (item.TipoAtributo.NombreID)
                            {
                                case "Generico":
                                    @Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Config. Catálogo de " + item.TipoAtributo.Nombre, "Detalles", "TipoAtributo", routeValues: new { id = item.TipoAtributoID }, htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })
                                    break;
                                case "Medida":
                                @Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Config. Catálogo de Tipo de Medida", "Index", "TipoMedida", htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })
                                    break;
                                case "TipoPieza":
                                @*@Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Config. Catálogo de Tipo Pieza", "Index", "TipoObra", htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })*@
                                    break;
                                default:
                                @Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Config. Catálogo de " + item.TipoAtributo.Nombre, "Index", item.TipoAtributo.NombreID, htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })
                                    break;
                            }
                        }
                    }

                    @if (User.IsInRole("AtributoEdit"))
                    {
                        @Html.NoEncodeActionLink("<span class='fa fa-pencil'></span>", "Editar", "Editar", "Atributo", routeValues: new { id = item.AtributoID }, htmlAttributes: new { data_toggle = "tooltip", data_modal = "", @class = "btn btn-default btn-xs Atributo" })
                    }

                    @if (User.IsInRole("AtributoEliminar"))
                    {
                        @Html.NoEncodeActionLink("<span class='fa fa-trash'></span>", "Eliminar", "Eliminar", "Atributo", routeValues: new { id = item.AtributoID }, htmlAttributes: new { data_toggle = "tooltip", data_modal = "", @class = "btn btn-danger btn-xs Atributo" })
                    }


                    @if (User.IsInRole("RestructurarTipoPieza"))
                    {
                        @Html.NoEncodeActionLink("<span class='fa fa-flash'></span>", "Restructurar Piezas", "MenuRestructura", "RestructurarTipoPieza", routeValues: new { id = item.AtributoID }, htmlAttributes: new { data_toggle = "tooltip", data_modal = "", @class = "btn btn-info btn-xs Restructura" })
                    }


                </div>

            </td>



        </tr>
    }

</table>

@* ! @Script.Render is not supported in partials - for extensions see: http://stackoverflow.com/a/13765578/209259

    @Scripts.Render("~/bundles/modalform")

*@

<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });

        $("a[data-modal].Atributo").on("click", function (e) {
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindForm_Atributo(this);
            });
            return false;
        });
    });




    function bindForm_Atributo(dialog) {
        $('form', dialog).submit(function () {

            $('#RenderEspera').toggle("slow");


            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        $('#renderListaAtributos').load(result.url); //  Campo que actualizara
                        $('#alertasDiv').load('@Url.Action("_Alertas","Base")');

                    } else {
                        $('#myModalContent').html(result);
                        $('#alertasDiv').load('@Url.Action("_Alertas","Base")');
                        bindForm_TipoPieza(dialog);
                    }
                }
            });
            return false;
        });
    }





    $("a[data-modal].Restructura").on("click", function (e) {
        $('#myModalContent').load(this.href, function () {
            $('#myModal').modal({
                /*backdrop: 'static',*/
                keyboard: true
            }, 'show');
        });
        return false;
    });

</script>