@model RecordFCS.Models.CatalogoPieza

@{
    ViewBag.PagName = "Crear";
    ViewBag.CtrlName = "Cátalogo";
    ViewBag.Title = @ViewBag.PagName;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">
        <b>@ViewBag.PagName</b>
        <i class="text-muted">@ViewBag.CtrlName</i>
    </h4>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.PiezaID)

            <!-- Input BUSCAR -->
            @Html.Partial("_FormBuscar")


            <!-- Select VALORES -->
            <div class="form-group">
                @Html.LabelFor(model => model.CatalogoID, "CatalogoID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <div id="renderCampoLista">
                            @{ Html.RenderAction("FormLista", "Catalogo", new { busqueda = "", seleccion = Model.CatalogoID }); }
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.CatalogoID, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>

    </div>

    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-primary" type="submit" value="Agregar" />
    </div>

}




@*EDITAR CATALOGO PIEZA*@
<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });

        $("#BuscarDato").on("keyup", function (e) {
            buscarDatoAjax();
        });
        return false;
    });

    function buscarDatoAjax() {

        var myUrl = '@Url.Action("FormLista", "Catalogo")';

        $.ajax({
            url: myUrl,
            type: 'GET',
            data: { busqueda: $("#BuscarDato").val()},
            success: function (result) {
                $('#renderCampoLista').html(result);
            }
        });

    }

</script>


